---
import BrighterScriptVerticalButton from "../../components/landing/BrighterScriptVerticalButton.astro";
import SingleLineCommand from "../../components/SingleLineCommand.astro";

const brighterscriptFeatures = [
    {
        title: "The Modern Language You Needed",
        text: "BrighterScript adds new features like classes, namespaces, and modern syntax improvements. Write less code, more efficiently."
    },
    {
        title: "A Result You Can Trust",
        text: "BrighterScript compiles to native BrightScript. Run the compiled result on any Roku device. Source maps will point back to your original code when debugging."
    },
    {
        title: "Safety at Compile Time",
        text: "The BrighterScript CLI will notify you of syntax errors and potential program crashes before your code is running."
    }
];
---

<div id="brighterscript" class="flex flex-col items-center py-24">
    <p class="font-serif text-purple-dark text-lg sm:text-xl uppercase">
        The Roku Community presents
    </p>
    <h2 class="text-4xl sm:text-6xl">BrighterScript</h2>

    <div class="flex flex-col lg:flex-row justify-evenly items-center w-full mt-10 lg:mt-20">
        {
			brighterscriptFeatures.map((feature) => (
				<div class="flex flex-col max-w-xs mb-8 lg:mb-0 px-4 lg:px-0">
                    <p class="font-serif text-purple-dark font-bold text-2xl">{feature.title}</p>
                    <p class="font-serif text-black text-2xl">{feature.text}</p>
                </div>
			))
		}
    </div>

    <h2 class="text-4xl sm:text-6xl my-10">Get started</h2>

    <SingleLineCommand command="npm install brighterscript -g"/>

    <div class="flex flex-col lg:flex-row justify-evenly items-center w-full my-20">
        <BrighterScriptVerticalButton
            title="Language specification"
            href="#"
            iconUrl="https://res.cloudinary.com/roku-community/image/upload/v1663542588/rokucommunity.github.io/brighterscript-language-image_xa5urn.png"
        />
        <BrighterScriptVerticalButton
            title="Documentation"
            href="#"
            iconUrl="https://res.cloudinary.com/roku-community/image/upload/v1663542588/rokucommunity.github.io/brighterscript-docs-image_uvxylz.png"
        />
        <BrighterScriptVerticalButton
            title="Learn BrighterScript"
            href="#"
            smallText="(Coming soon)"
            iconUrl="https://res.cloudinary.com/roku-community/image/upload/v1663542588/rokucommunity.github.io/brighterscript-learn-image_id1uee.png"
        />
    </div>
</div>

<style>
    h2 {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 70px;

        /* identical to box height, or 109% */
        text-align: center;

        background: linear-gradient(91.89deg, #111B73 -1.99%, #BD73E9 72.07%, #E973BA 106.43%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
</style>
