---
import { Image } from "@astrojs/image/components";
import GithubWhiteLogo from "../../components/landing/GithubWhiteLogo.astro";
import HeroWhatsNew from "../../components/landing/HeroWhatsNew.astro";
import SlackWhiteLogo from "../../components/landing/SlackWhiteLogo.astro";
---

<div
    class="hero-gradient flex flex-col md:justify-between px-7 md:px-14 py-11 md:pb-2.5 md:h-screen md:min-h-[668px]"
>
    <!-- Top bar -->
    <div class="flex flex-col md:flex-row justify-between h-12 w-full">
        <h1 class="text-center md:text-left font-poppins text-3xl font-bold md:w-max text-white">
            Roku Community
        </h1>

        <div
            class="hidden md:flex flex-row items-center justify-between w-80"
        >
            <HeroWhatsNew/>
            <SlackWhiteLogo/>
            <GithubWhiteLogo/>
        </div>
    </div>

    <!-- Hero text and email input -->
    <div class="flex flex-col justify-between items-center md:h-[20rem] mt-9">
        <h2
            class="font-poppins text-white max-w-[629px] text-center text-4xl md:text-5xl font-bold md:mt-0"
        >
            Our Goal is to make Roku Development <u>Better</u>
        </h2>

        <p
            class="font-poppins text-white mt-4 md:mt-0 text-center text-2xl opacity-90 max-w-[629px]"
        >
            We provide and maintain <b>Open Source</b> solutions to enhance your
            development workflows
        </p>

        <div
            class="flex flex-col md:flex-row mt-4 md:mt-0 w-full md:justify-center"
        >
            <a
                target="_blank"
                href="https://rokucommunity.substack.com/"
                class="cta-btn-gradient rounded-xl text-white font-bold text-2xl md:text-3xl outline-none p-5 font-sans cursor-pointer hover:shadow text-center"
            >
                Keep me updated
            </a>
        </div>

        <div
            class="flex md:hidden flex-col items-center justify-center w-80 mt-8"
        >
            <HeroWhatsNew/>
            <div class="flex flex-row items-center justify-evenly w-full mt-4">
                <SlackWhiteLogo/>
                <GithubWhiteLogo/>
            </div>
        </div>
    </div>

    <!-- Scroll down CTA -->
    <div class="hidden md:flex flex-col items-center">
        <p class="w-max text-white text-2xl font-sans font-light">
            See our magic in action
        </p>
        <Image
            class="float-up-down"
            src="https://res.cloudinary.com/roku-community/image/upload/v1663452078/rokucommunity.github.io/icon-arrow-down_ewiujp.svg"
            alt="Icon arrow down"
            width={60}
            height={60}
        />
    </div>
</div>

<style>
    .hero-gradient {
		background: radial-gradient(
			166.56% 296.11% at 1.84% 4.24%,
			#581b98 5.71%,
			#d600c0 100%
		);
	}

	.cta-btn-gradient {
		background: radial-gradient(
			149.24% 149.24% at 50.21% 0%,
			#9c1de7 0%,
			rgba(156, 29, 231, 0.2) 100%
		);
	}

    .float-up-down {
		transform: translatey(0px);
		animation: float 3s ease-in-out infinite;
	}

    @keyframes float {
		0% {
			transform: translatey(0px);
		}

		50% {
			transform: translatey(+10px);
		}

		100% {
			transform: translatey(0px);
		}
	}
</style>