---
import SingleLineCommand from "../../components/SingleLineCommand.astro";

---

<div id="lint-and-format" class="gradient flex flex-col items-center w-full py-24 px-4">
    <div>
        <p class="text-white uppercase text-xl lg:text-3xl font-bold">Linter & formatter</p>
        <p class="text-white text-5xl lg:text-8xl font-poppins font-bold">Your code, your rules</p>
    </div>
    
    <div class="my-12 mx-4">
        <SingleLineCommand command="npm install -D @rokucommunity/bslint brighterscript-formatter" />
    </div>

    <div class="flex flex-row w-full items-center justify-evenly [&>p]:text-white [&>p]:max-w-[287px] [&>p]:text-center [&>p]:text-3xl">
        <p>Define the Lint & Format rules you know and love in JSON format.</p>
        <p>Our VSCode Plugin will notify you of any Lint error as you code.</p>
        <p>Integrate your Lint & Format checks as part of a CI/CD pipeline.</p>
    </div>
    <div class="flex flex-row items-center justify-center my-12">
        <div class="flex flex-row justify-center items-center mr-7">
            <a class="mr-2 text-white text-3xl" href="https://github.com/rokucommunity/bslint">Linter docs</a>
            <span class="material-icons text-white text-3xl">open_in_new</span>
        </div>
        <div class="flex flex-row justify-center items-center">
            <a class="mr-2 text-white text-3xl" href="https://github.com/rokucommunity/brighterscript-formatter">Formatter docs</a>
            <span class="material-icons text-white text-3xl">open_in_new</span>
        </div>
    </div>
    

    <img src="https://res.cloudinary.com/roku-community/image/upload/v1666405172/rokucommunity.github.io/linter-formatter_feo7ux.png" alt="The linter and formatter can be configured with JSON files">
</div>
<style>
    .gradient {
        background: linear-gradient(96.74deg, #8A2387 0.59%, #E94057 53.61%, #F27121 99.43%);
    }
</style>