---
import VSCodePluginShowcaseItem from '../../components/landing/VSCodePluginShowcaseItem.astro';
---

<div id="vscode-plugin" class="xl:px-14">
    <div
        class="flex flex-col sm:items-center bg-[#292929] xl:rounded-3xl py-14 overflow-hidden px-7 md:px-0">
        <p
            class="vscode-plugin-title text-4xl md:text-6xl md:leading-[70px] sm:text-center max-w-4xl">
            An efficient DX for Roku in VSCode
        </p>

        <div
            class="flex lg:flex-row justify-center md:items-center md:px-14 mt-6 md:mt-12 w-4/5">
            <div class="flex flex-row justify-center items-center mb-6 md:mb-0">
                <a
                    class="mr-2 common-link text-2xl sm:text-3xl"
                    href="https://marketplace.visualstudio.com/items?itemName=RokuCommunity.brightscript"
                    >Download now</a
                >
                <img
                    src="https://res.cloudinary.com/roku-community/image/upload/v1663454539/rokucommunity.github.io/icon-open-in-new-pink_kuwapu.svg"
                    alt="Download Visual Studio Code plugin icon"
                />
            </div>
        </div>

        <VSCodePluginShowcaseItem
            title="Syntax highlighting & code formatting"
            hook="Technicolor is here"
            imgUrl="https://res.cloudinary.com/roku-community/image/upload/v1663455843/rokucommunity.github.io/vscode-plugin-syntax-highlighting_lambdp.png"
            imgAlt="Syntax highlighting"
        />

        <VSCodePluginShowcaseItem
            title="Sideload your app with One Click"
            hook="Just play it"
            description="No need to zip your app, open your browser, or even know your device IP!"
            imgUrl="https://res.cloudinary.com/roku-community/image/upload/v1663457667/rokucommunity.github.io/vscode-plugin-sideload_ytxc07.png"
            imgAlt="Sideload with one click"
            rowReverse={true}
        />

        <VSCodePluginShowcaseItem
            title="Breakpoints and variable inspection"
            hook="Debugging Excellence"
            description="Add breakpoints anywhere. Inspect and watch variables. Run brs commands. Conditionally enable and disable breakpoints. And much more!"
            imgUrl="https://res.cloudinary.com/roku-community/image/upload/v1663457788/rokucommunity.github.io/vscode-plugin-debugging_sjh6df.png"
            imgAlt="Debugging and variable inspection"
        />

        <div
            class="flex flex-col-reverse lg:flex-row md:px-14 mt-16 xl:justify-evenly w-full">
            <div class="flex flex-col lg:mr-16">
                <img
                    class="mt-4 lg:mt-0"
                    src="https://res.cloudinary.com/roku-community/image/upload/v1663458051/rokucommunity.github.io/vscode-plugin-scenegraph-inspector_xfxoyx.png"
                    alt="A better Layout Editor"
                />
                <p
                    class="font-sans italic text-xl text-white opacity-50 lg:max-w-sm mt-11 lg:visible">
                    These images show the SG nodes of the MarkupListExample
                    sample project from the official documentation.
                </p>
            </div>
            <div class="flex flex-col lg:items-end">
                <div class="!mb-8 lg:[&>p]:text-right">
                    <p
                        class="font-sans text-white m-0 text-xl lg:w-96 opacity-50 uppercase">
                        Powered by RTA
                    </p>
                    <p
                        class="text-white m-0 lg:w-96 font-poppins font-bold text-4xl">
                        A better Layout Editor
                    </p>
                    <p
                        class="font-sans text-white m-0 text-xl lg:w-96 opacity-80">
                        Inspect all your SceneGraph nodes, including ArrayGrid
                        children! Easy to setup, Open Source and completely
                        within VSCode.
                    </p>
                </div>
                <img
                    src="https://res.cloudinary.com/roku-community/image/upload/v1663458114/rokucommunity.github.io/vscode-plugin-scenegraph-inspector-2_ij28sb.png"
                    alt="Layout editor details"
                />
            </div>
        </div>

        <VSCodePluginShowcaseItem
            title="Control your device from your computer"
            hook="No batteries needed"
            description="Fill inputs with your keyboard and navigate with the arrow keys. Customize your keybindings or use our +100 predefined ones."
            imgUrl="https://res.cloudinary.com/roku-community/image/upload/v1663458674/rokucommunity.github.io/purple-keyboard_ddo4h0.png"
            imgAlt="Control your device from your computer"
        />

        <div>
            <p
                class="vscode-plugin-title text-4xl md:text-6xl md:leading-[70px] text-center">
                Start coding like a pro
            </p>
            <div class="flex flex-row justify-center items-center mt-4">
                <a
                    class="mr-2 common-link text-3xl"
                    href="https://marketplace.visualstudio.com/items?itemName=RokuCommunity.brightscript"
                    >Download now</a
                >
                <img
                    src="https://res.cloudinary.com/roku-community/image/upload/v1663454539/rokucommunity.github.io/icon-open-in-new-pink_kuwapu.svg"
                    alt="Download Visual Studio Code plugin icon"
                />
            </div>
        </div>
    </div>
</div>

<style>
    .vscode-plugin-title {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        margin: 0;
        background: linear-gradient(91.48deg, #00d1ff 1.88%, #bd00ff 100.15%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
</style>
