---
import "@splidejs/splide/dist/css/splide.min.css";
import BrighterScriptTitle from "./BrighterScriptTitle.astro";
import BSFeatClasses from "./bs-features/BSFeatClasses.astro";
import BsFeatImports from "./bs-features/BsFeatImports.astro";
import BsFeatMore from "./bs-features/BsFeatMore.astro";
import BsFeatNamespaces from "./bs-features/BsFeatNamespaces.astro";
import BsFeatSyntax from "./bs-features/BsFeatSyntax.astro";
---

<div class="w-full flex flex-col justify-center items-center">
    <BrighterScriptTitle title="Language features" />

    <div class={`
        flex flex-col items-center
        max-w-full
        px-4
        features-container
        [&>p]:font-serif
        [&>p]:text-purple-dark
        [&>p]:font-bold
        [&>p]:text-4xl
        [&>p]:xl:text-center
        [&>p]:mt-8
    `}
    >
        <p>Classes</p>
        <BSFeatClasses />
        <p>Imports</p>
        <BsFeatImports />
        <p>Namespaces</p>
        <BsFeatNamespaces />
        <p>Syntax sugar</p>
        <BsFeatSyntax />
        <p>More features</p>
        <BsFeatMore />
    </div>
</div>