---
import "@splidejs/splide/dist/css/splide.min.css";
import BrighterScriptTitle from "./BrighterScriptTitle.astro";

const moreFeatures = [
    [
        {
            icon: "power",
            title: "Plugins",
            description:
                "The plugin API allows extending the compiler to provide extra diagnostics or transformations."
        },
        {
            icon: "attach_file",
            title: "Annotations",
            description:
                "Annotations are metadata you can attach to any statement. This extra information will be available to plugins walking the AST of the code."
        }
    ],
    [
        {
            icon: "code",
            title: "BrighterScript CLI",
            description:
                "Check syntax and program errors without a Device and catch them at compile time. Deploy .zip files from your console. Integrate all these features in your CI/CD pipelines."
        },
        {
            icon: "list_alt",
            title: "Flexible compiler options",
            description:
                "The bsconfig.json file specifies the root files and the compiler options required to compile the project. It can inherit configurations from another file using the extends property."
        }
    ]
];
---

<div class="w-full flex flex-col justify-center items-center">
    <BrighterScriptTitle title="Language features" />

    <div
        class="flex flex-row justify-evenly items-center w-full feature-list max-w-screen-xl"
    >
        <p
            id="go-classes"
            class="hover-underline-animation text-purple-dark after:bg-purple-dark"
        >
            Classes
        </p>
        <div></div>
        <p
            id="go-imports"
            class="hover-underline-animation text-purple-dark after:bg-purple-dark"
        >
            Import statements
        </p>
        <div></div>
        <p
            id="go-namespaces"
            class="hover-underline-animation text-purple-dark after:bg-purple-dark"
        >
            Namespaces
        </p>
        <div></div>
        <p
            id="go-syntax"
            class="hover-underline-animation text-purple-dark after:bg-purple-dark"
        >
            Syntax sugar
        </p>
        <div></div>
        <p
            id="go-more"
            class="hover-underline-animation text-purple-dark after:bg-purple-dark"
        >
            And more!
        </p>
    </div>

    <div class="splide" role="group" aria-label="BrighterScript feature carousel">
        <ul class="splide__pagination"></ul>
        <div class="splide__track">
            <ul class="splide__list">
                <!-- Classes -->
                <div class="splide__slide w-full flex flex-row justify-center">
                    <div
                        id="feat-classes"
                        class="flex flex-col items-center max-w-screen-xl feat-container"
                    >
                        <p>
                            BrighterScript offers support for <b
                                >class inheritance</b
                            > and method <b>overrides</b>. Class fields and can
                            be marked as <b>public, protected, and private</b> and
                            incorrect access will be enforced by compile-time checks.
                            Class methods are automatically scoped to the class.
                        </p>
                        <div>
                            <img
                                src="https://res.cloudinary.com/roku-community/image/upload/v1663543472/rokucommunity.github.io/bs-feat-classes_wtr6vz.png"
                                alt=""
                            />
                        </div>
                    </div>
                </div>

                <!-- Import statements -->
                <div class="splide__slide w-full flex flex-row justify-center">
                    <div
                        id="feat-imports"
                        class="splide__slide flex flex-col items-center max-w-screen-xl feat-container"
                    >
                        <p>
                            Managing script tags in component XML files can be
                            tedious and time consuming.
                            <br /><br />
                            BrighterScript provides <b>the import statement</b>,
                            which can be added to the top of your .bs files. Any
                            XML file that includes that .bs file will
                            automatically have all of its imports added as
                            script includes.
                        </p>
                        <div class="flex flex-row">
                            <img
                                src="https://res.cloudinary.com/roku-community/image/upload/v1665888479/rokucommunity.github.io/bs-feat-import-1_yhpddu.png"
                                alt=""
                            />
                            <img
                                src="https://res.cloudinary.com/roku-community/image/upload/v1665888479/rokucommunity.github.io/bs-feat-import-2_nahi5x.png"
                                alt=""
                            />
                        </div>
                    </div>
                </div>

                <!-- Namespaces -->
                <div class="splide__slide w-full flex flex-row justify-center">
                    <div
                        id="feat-namespaces"
                        class="splide__slide flex flex-col items-center max-w-screen-xl feat-container"
                    >
                        <p>
                            BrighterScript provides a means of grouping
                            functions and classes into <b>Namespaces.</b>
                            <br /><br />
                            Namespaces automatically add a name prefix to all methods
                            inside a namespace block. Useful to prevent method naming
                            collisions and improve code readability and maintainability.
                            Missing method invocations, and other namespace related
                            syntax errors are reported at compile time.
                        </p>
                        <div>
                            <img
                                src="https://res.cloudinary.com/roku-community/image/upload/v1665888479/rokucommunity.github.io/bs-namespace_oydrhr.png"
                                alt=""
                            />
                        </div>
                    </div>
                </div>

                <!-- Syntax sugar -->
                <div class="splide__slide w-full flex flex-row justify-center">
                    <div
                        id="feat-syntax"
                        class="splide__slide flex flex-row max-w-screen-xl feat-container !mt-7"
                    >
                        <div class="max-w-screen-sm">
                            <p>
                                Make your life easier with the following <b
                                    >syntax features</b
                                >:
                            </p>
                            <ul>
                                <li>Enums</li>
                                <li>CallFunc shorthand operator</li>
                                <li>Null-Coalescing operator</li>
                                <li>Template Literals</li>
                                <li>Ternary Conditional Operator</li>
                                <li>Cleaner Regular Expressions</li>
                                <li>Source Literal helpers</li>
                            </ul>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row">
                                <div class="tab-btn bg-purple-dark">
                                    <p>BrighterScript code</p>
                                </div>
                                <div class="tab-btn bg-purple">
                                    <p>Transpiled code</p>
                                </div>
                            </div>
                            <div>
                                <img
                                    src="https://res.cloudinary.com/roku-community/image/upload/v1665888479/rokucommunity.github.io/bs-syntax-1_biijkh.png"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- And more! -->
                <div class="splide__slide w-full flex flex-row justify-center">
                    <div
                        id="feat-more"
                        class="splide__slide flex flex-col justify-center w-full"
                    >
                        {
                            moreFeatures.map((featRow) => (
                                <div class="flex flex-row w-full justify-evenly my-7">
                                    {featRow.map((feat) => (
                                        <div class="feat-more-contianer cursor-pointer px-9 py-6 max-w-[455px] border-2 rounded-3xl border-purple-dark">
                                            <div class="flex flex-row row-title items-center">
                                                <span class="material-icons text-purple-dark text-3xl mr-2">
                                                    {feat.icon}
                                                </span>
                                                <p class="text-purple-dark text-2xl font-serif font-bold">
                                                    {feat.title}
                                                </p>
                                            </div>
                                            <div>
                                                <p class="text-2xl font-serif">
                                                    {feat.description}
                                                </p>
                                            </div>
                                        </div>
                                    ))}
                                </div>
                            ))
                        }
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>

<script>
    import { Splide } from "@splidejs/splide";

    const splide = new Splide(".splide", { lazyLoad: "sequential" });
    
    const controlIds = [
        "go-classes",
        "go-imports",
        "go-namespaces",
        "go-syntax",
        "go-more"
    ];

    for (const [i, controlId] of controlIds.entries()) {
        const controlNode = document.getElementById(controlId);
        if (controlNode) {
            controlNode.onclick = () => {
                splide.go(i);
            };
        }
    }

    splide.mount();
</script>

<style>
    .feature-list > p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        cursor: pointer;
    }

    .feature-list > div {
        width: 12px;
        height: 12px;
        background: #581b98;
        border-radius: 9999px;
    }

    .feat-container > p {
        font-family: "Roboto";
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #292929;
        margin: 28px 0px;
    }

    ul {
        list-style: disc;
        padding-left: 16px;
    }

    .tab-btn {
        padding: 16px;
    }

    .tab-btn > p {
        color: #fdfdfd;
    }

    .feat-more-contianer:hover {
        box-shadow: -10px 5px #9c1de7;
    }
</style>
