---
import "@splidejs/splide/dist/css/splide.min.css";
import BrighterScriptTitle from "./BrighterScriptTitle.astro";
import BsFeatCarousel from "./bs-features/BsFeatCarousel.astro";
import BSFeatClasses from "./bs-features/BSFeatClasses.astro";
import BsFeatImports from "./bs-features/BsFeatImports.astro";
import BsFeatMore from "./bs-features/BsFeatMore.astro";
import BsFeatNamespaces from "./bs-features/BsFeatNamespaces.astro";
import BsFeatSyntax from "./bs-features/BsFeatSyntax.astro";
---

<div class="w-full flex flex-col justify-center items-center">
    <BrighterScriptTitle title="Language features" />

    <div id="features-list" class="max-w-full px-4">
        <p class="font-serif text-purple-dark font-bold text-2xl">Classes</p>
        <BSFeatClasses />
        <p class="font-serif text-purple-dark font-bold text-2xl">Imports</p>
        <BsFeatImports />
        <p class="font-serif text-purple-dark font-bold text-2xl">Namespaces</p>
        <BsFeatNamespaces />
        <p class="font-serif text-purple-dark font-bold text-2xl">Syntax sugar</p>
        <BsFeatSyntax />
        <p class="font-serif text-purple-dark font-bold text-2xl">And more!</p>
        <BsFeatMore />
    </div>

    <div class="w-full hidden xl:inline">
        <BsFeatCarousel/>
    </div>
</div>