---
import { Image } from "@astrojs/image/components";
---
<a href="https://github.com/rokucommunity">
    <Image
        src="https://res.cloudinary.com/roku-community/image/upload/v1663447957/rokucommunity.github.io/github-mono-white_m6idwe.png"
        alt="Github logo"
        width={40}
        height={40}
    />
</a>