---
import { Image } from '@astrojs/image/components';
---

<a href="https://github.com/rokucommunity">
    <Image
        src="/images/github-mono-white.png"
        alt="Github logo"
        width={40}
        height={40}
    />
</a>
