<div
    class="lg:w-full flex flex-col sm:max-w-[40vw] md:max-w-none lg:max-w-xs md:mt-0">
    <p class="text-2xl text-bold mb-4">Contribute to our projects</p>
    <a href="https://github.com/rokucommunity">
        <img
            src="https://res.cloudinary.com/roku-community/image/upload/v1666469743/rokucommunity.github.io/github-logo_kysheg.png"
            alt="Check our projects in Github"
        />
    </a>
</div>
<div
    class="lg:w-full flex flex-col sm:max-w-[40vw] md:max-w-none lg:max-w-md xl:max-w-lg">
    <p class="text-2xl text-bold mb-4">For questions and discussion</p>
    <a
        href="https://join.slack.com/t/rokudevelopers/shared_invite/zt-1fwucni9w-WizAcwB_rhL8nTctkO7trQ">
        <img
            src="https://res.cloudinary.com/roku-community/image/upload/v1666469711/rokucommunity.github.io/slack-logo_jtehzw.png"
            alt="Join our slack channel"
        />
    </a>
</div>
