<a
    target="_blank"
    href="https://rokucommunity.substack.com/"
    class="cta-btn-gradient rounded-xl text-white font-bold text-2xl md:text-3xl outline-none p-5 font-sans cursor-pointer hover:shadow text-center">
    Keep me updated
</a>
<style>
    .cta-btn-gradient {
        background: radial-gradient(
            149.24% 149.24% at 50.21% 0%,
            #9c1de7 0%,
            rgba(156, 29, 231, 0.2) 100%
        );
    }
</style>
