---
interface Props {
    command: string;
}

const { command } = Astro.props;
---

<div class="flex flex-row items-center h-20 py-6 px-11">
    <span class="text-white mr-4 text-2xl font-mono" unselectable="on">$</span>
    <p class="text-white text-2xl mr-7 font-mono overflow-x-scroll w-24 sm:w-auto">{command}</p>
    <div class="hover:rounded-full p-3 hover:bg-pink cursor-pointer">
        <span class="material-icons text-white">content_copy</span>
    </div>
</div>

<style>
    div {
        background: #35105C;
        border-radius: 10px;
    }

    p {
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
    }

    span {
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
</style>
