---
interface Props {
    command: string;
    helperTextColor?: string;
}

const { command, helperTextColor } = Astro.props;
---

<div class="flex flex-col items-center">
    <div class="wrapper flex flex-row items-center h-20 py-6 px-6 md:px-11 max-w-[80vw]">
        <span class="text-white mr-4 text-2xl font-mono" unselectable="on">$</span>
        <p class="text-white text-2xl font-mono overflow-x-scroll bg-none">{command}</p>
    </div>
    <span class={`${helperTextColor} font-mono select-none mt-2`}>Tap once to select command</span>
</div>


<style>
    .wrapper {
        background: #35105C;
        border-radius: 10px;
    }

    p {
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
        user-select: all;
    }

    p::-webkit-scrollbar {
        height: 0px;
    }

    span {
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
</style>
