---
import BSFeatClasses from "./BSFeatClasses.astro";
import BsFeatImports from "./BsFeatImports.astro";
import BsFeatMore from "./BsFeatMore.astro";
import BsFeatSyntax from "./BsFeatSyntax.astro";
import BsFeatNamespaces from "./BsFeatNamespaces.astro";

---

<div
    class="hidden xl:flex flex-row justify-evenly items-center w-full feature-list max-w-screen-xl"
>
    <p
        id="go-classes"
        class="hover-underline-animation text-purple-dark after:bg-purple-dark"
    >
        Classes
    </p>
    <div></div>
    <p
        id="go-imports"
        class="hover-underline-animation text-purple-dark after:bg-purple-dark"
    >
        Import statements
    </p>
    <div></div>
    <p
        id="go-namespaces"
        class="hover-underline-animation text-purple-dark after:bg-purple-dark"
    >
        Namespaces
    </p>
    <div></div>
    <p
        id="go-syntax"
        class="hover-underline-animation text-purple-dark after:bg-purple-dark"
    >
        Syntax sugar
    </p>
    <div></div>
    <p
        id="go-more"
        class="hover-underline-animation text-purple-dark after:bg-purple-dark"
    >
        And more!
    </p>
</div>

<div
    id="features-splide"
    class="splide"
    role="group"
    aria-label="BrighterScript feature carousel"
>
    <ul class="splide__pagination"></ul>
    <div class="splide__track">
        <ul class="splide__list">
            <div class="splide__slide w-full flex flex-row justify-center">
                <BSFeatClasses />
            </div>

            <div class="splide__slide w-full flex flex-row justify-center">
                <BsFeatImports />
            </div>

            <div class="splide__slide w-full flex flex-row justify-center">
                <BsFeatNamespaces />
            </div>

            <div class="splide__slide w-full flex flex-row justify-center">
                <BsFeatSyntax />
            </div>

            <div class="splide__slide w-full flex flex-row justify-center">
                <BsFeatMore />
            </div>
        </ul>
    </div>
</div>
<script>
    import { Splide } from "@splidejs/splide";

    const splide = new Splide(".splide", { lazyLoad: "sequential" });

    const controlIds = [
        "go-classes",
        "go-imports",
        "go-namespaces",
        "go-syntax",
        "go-more",
    ];

    for (const [i, controlId] of controlIds.entries()) {
        const controlNode = document.getElementById(controlId);
        if (controlNode) {
            controlNode.onclick = () => {
                splide.go(i);
            };
        }
    }

    splide.mount();
</script>

<style>
    .feature-list > p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        cursor: pointer;
    }

    .feature-list > div {
        width: 12px;
        height: 12px;
        background: #581b98;
        border-radius: 9999px;
    }
</style>
