<div
    id="feat-namespaces"
    class="splide__slide flex flex-col items-center max-w-screen-xl feat-container"
>
    <p class="xl:text-center">
        BrighterScript provides a means of grouping functions and classes into <b
            >Namespaces.</b
        >
        <br /><br />
        Namespaces automatically add a name prefix to all methods inside a namespace
        block. Useful to prevent method naming collisions and improve code readability
        and maintainability. Missing method invocations, and other namespace related
        syntax errors are reported at compile time.
    </p>
    <div class="hidden sm:inline">
        <img
            src="https://res.cloudinary.com/roku-community/image/upload/v1665888479/rokucommunity.github.io/bs-namespace_oydrhr.png"
            alt=""
        />
    </div>
</div>
<style>
    .feat-container > p {
        font-family: "Roboto";
        font-size: 24px;
        line-height: 28px;
        color: #292929;
        margin: 28px 0px;
    }
</style>
