<div
    id="feat-imports"
    class="splide__slide flex flex-col items-center max-w-screen-xl feat-container"
>
    <p class="xl:text-center">
        Managing script tags in component XML files can be tedious and time
        consuming.
        <br /><br />
        BrighterScript provides <b>the import statement</b>, which can be added
        to the top of your .bs files. Any XML file that includes that .bs file
        will automatically have all of its imports added as script includes.
    </p>
    <div class="hidden xl:flex flex-row">
        <img
            src="https://res.cloudinary.com/roku-community/image/upload/v1665888479/rokucommunity.github.io/bs-feat-import-1_yhpddu.png"
            alt=""
        />
        <img
            src="https://res.cloudinary.com/roku-community/image/upload/v1665888479/rokucommunity.github.io/bs-feat-import-2_nahi5x.png"
            alt=""
        />
    </div>
</div>
<style>
    .feat-container > p {
        font-family: "Roboto";
        font-size: 24px;
        line-height: 28px;
        color: #292929;
        margin: 28px 0px;
    }
</style>