<div class="feat-container max-w-screen-sm">
    <p>
        Make your life easier with the following <b>syntax features</b>:
    </p>
    <ul>
        <li>Enums</li>
        <li>CallFunc shorthand operator</li>
        <li>Null-Coalescing operator</li>
        <li>Template Literals</li>
        <li>Ternary Conditional Operator</li>
        <li>Cleaner Regular Expressions</li>
        <li>Source Literal helpers</li>
    </ul>
</div>
<div class="hidden xl:flex flex-col">
    <div class="flex flex-row">
        <div class="tab-btn bg-purple-dark">
            <p>BrighterScript code</p>
        </div>
        <div class="tab-btn bg-purple">
            <p>Transpiled code</p>
        </div>
    </div>
    <div>
        <img
            src="https://res.cloudinary.com/roku-community/image/upload/v1665888479/rokucommunity.github.io/bs-syntax-1_biijkh.png"
            alt=""
        />
    </div>
</div>
<style>
    .feat-container > p,
    li {
        font-family: "Roboto";
        font-size: 24px;
        line-height: 28px;
        color: #292929;
        margin: 28px 0px;
    }

    .tab-btn {
        padding: 16px;
    }

    .tab-btn > p {
        color: #fdfdfd;
    }

    ul {
        list-style: disc;
        padding-left: 16px;
    }
</style>
