<div
    id="feat-classes"
    class="flex flex-col items-center xl:max-w-screen-xl feat-container"
>
    <p class="xl:text-center">
        BrighterScript offers support for <b>class inheritance</b> and method <b
            >overrides</b
        >. Class fields and can be marked as <b
            >public, protected, and private</b
        > and incorrect access will be enforced by compile-time checks. Class methods
        are automatically scoped to the class.
    </p>
    <div class="hidden xl:inline">
        <img
            src="https://res.cloudinary.com/roku-community/image/upload/v1663543472/rokucommunity.github.io/bs-feat-classes_wtr6vz.png"
            alt=""
        />
    </div>
</div>
<style>
    .feat-container > p {
        font-family: "Roboto";
        font-size: 24px;
        line-height: 28px;
        color: #292929;
        margin: 28px 0px;
    }
</style>
