body, html {
    margin: 0;
    padding: 0;
}

.hero-text {
    font-family: 'Poppins', sans-serif;
    color: #FDFDFD;
    margin: 0;
    padding: 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: radial-gradient(166.56% 296.11% at 1.84% 4.24%, #581B98 5.71%, #D600C0 100%);
    padding: 42px 54px 10px 54px;
    min-height: 668px;
}

.hero-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 50px;
}

.page-title {
    font-style: bold;
    font-size: 32px;
    margin: 0;
    width: max-content;
}

.hero-navbar--buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 312px;
}

.hero-navbar--whats-new {
    color: #FDFDFD;
    font-size: 24px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
}

.hero-title {
    max-width: 629px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #FDFDFD;
}

.hero-subtitle {
    text-align: center;
    font-size: 24px;
    opacity: 0.9;
    max-width: 629px;
}

.hero-cta--email-input, .hero-cta--email-input:focus-visible {
    background: rgba(217, 217, 217, 0.3);
    border-radius: 10px;
    padding: 19px 26px;
    color: #FDFDFD;
    border: none;
    font-size: 24px;
    max-width: 351px;
    outline: none;
    font-style: 'Roboto', sans-serif;
}

.hero-cta--button {
    background: radial-gradient(149.24% 149.24% at 50.21% 0%, #9C1DE7 0%, rgba(156, 29, 231, 0.2) 100%);
    border-radius: 10px;
    color: #FDFDFD;
    font-weight: bold;
    font-size: 24px;
    border: none;
    padding: 19px 22px;
    margin-left: 14px;
    font-family: 'Roboto', sans-serif;
}

.see-more-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.see-more-container > p {
    max-width: max-content;
    margin: 0;
    padding: 0;
    color: #FDFDFD;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
