<div class="bg-black py-8">
    <div class="flex flex-col sm:flex-row justify-evenly items-center [&>a]:underline [&>a]:text-white [&>a]:text-2xl [&>a]:mb-8 [&>a]:sm:mb-0">
        <a href="/">Home</a>
        <a href="/#whats-new">What's new</a>
        <a href="https://join.slack.com/t/rokudevelopers/shared_invite/zt-1fwucni9w-WizAcwB_rhL8nTctkO7trQ">Slack channel</a>
        <a href="https://rokucommunity.substack.com/" class="!mb-0">Newsletter</a>
    </div>

    <div class="my-8">
        <p class="text-center text-white text-lg font-bold">Legal notice</p>
        <p class="text-center text-white text-lg">
            The views and opinions expressed in
            this website and all of its pages are those from within <a class="underline" href="https://github.com/rokucommunity">our open source community</a> and do not represent the views or positions of Roku, Inc. or
            any entities they represent.
        </p>
    </div>

    <p class="text-white text-center opacity-50">
        Designed with <span class="material-icons !text-sm">favorite</span> by <a class="underline" href="https://github.com/arturocuya">@arturocuya</a>
    </p>
</div>