---
import '@fontsource/material-icons';
---

<div class="bg-black py-8">
    <div
        class="flex flex-col lg:flex-row justify-evenly items-center [&>a]:underline [&>a]:text-white [&>a]:text-xl [&>a]:mb-8">
        <a href="/">Home</a>
        <a href="/#whats-new">What's new</a>
        <a
            href="https://join.slack.com/t/rokudevelopers/shared_invite/zt-1fwucni9w-WizAcwB_rhL8nTctkO7trQ"
            >Slack channel</a
        >
        <a href="https://rokucommunity.substack.com/">Newsletter</a>
        <a href="https://github.com/rokucommunity/rokucommunity.github.io"
            >Edit this website on Github</a
        >
    </div>

    <div class="mb-8">
        <p class="text-center text-white text-lg">Legal notice</p>
        <p class="text-center text-white text-lg font-bold">
            The views and opinions expressed in this website and all of its
            pages are those from within <a
                class="underline"
                href="https://github.com/rokucommunity"
                >our open source community</a
            > and do not represent the views or positions of Roku, Inc. or any entities
            they represent.
        </p>
    </div>

    <p class="text-white text-center text-xl opacity-50">
        Designed with <span class="material-icons !text-sm">favorite</span> by <a
            class="underline"
            href="https://github.com/arturocuya">@arturocuya</a
        >, powered by <a class="underline" href="https://astro.build/">Astro</a>
    </p>
</div>
