---
import "@fontsource/roboto";
import "@fontsource/roboto/700.css";
import "@fontsource/poppins";
import "@fontsource/poppins/700.css";
import "@fontsource/material-icons";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
    /* Unscoped styles, delivered as-is to the browser. */

    .common-link {
		font-family: "Roboto", sans-serif;
		font-weight: bold;
		color: #f3558e;
	}

	.hover-underline-animation {
		display: inline-block;
		position: relative;
	}

	.hover-underline-animation:after {
		content: "";
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		left: 0;
		transform-origin: center;
		transition: transform 0.15s ease-out;
	}

	.hover-underline-animation:hover:after {
		transform: scaleX(1);
		transform-origin: center;
	}

	.splide__pagination {
        display: none !important;
    }

    .splide__arrow {
        display: none !important;
    }
</style>
